    @font-face {
        font-family: bobsburgers;
        src: url(../css/Bob\'s\ Burgers.ttf);
    }
    
    .form-control {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
    
    .jumbotron {
        background-image: url(../images/BBurgers.jpg);
        /* background-repeat: no-repeat; */
        background-size: 100% 100%;
        /* padding-bottom: 5%;
        padding-top: 3%; */
        margin-bottom: 0%;
        /* font-display: bold; */
    }
    
    h1 {
        font-family: bobsburgers;
        font-size: 75px;
        /* position: absolute; */
        /* left: 50px;
        top: 10px; */
    }
    
    h2 {
        font-family: bobsburgers;
        font-size: 60px;
        /* position: absolute;
        left: 93px;
        top: 175px; */
    }
    
    .card-heading {
        font-family: bobsburgers;
        font-size: 40px;
        background-color: rgb(99, 150, 101);
        text-align: center;
        letter-spacing: 5px;
    }
    
    .create-form {
        font-family: sans-serif;
        color: darkorange;
        font-size: 15px;
        font-weight: bold;
    }
    
    .container {
        margin: 0 auto;
        height: auto;
        border: 7px solid rgb(99, 150, 101);
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #ffffff;
    }
    
    body {
        background: url(../images/fast-food-hamburger-meal-background-vector-14198158.jpg);
    }
    
    footer {
        background-color: rgb(99, 150, 101);
        font-family: bobsburgers;
        font-size: 25px;
        margin-bottom: 20px;
    }